@import "fonts";
@import "var";

.signup {
  &__form {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    &__h2 {
    }

    &__inp {
      padding: 10px;
    }

    &__button {
    }
  }
}
